@use "sass:color";

@use "@material/theme/color-palette";

// Svelte Colors!
@use "@material/theme/index" as theme with (
  $primary: #006e17,
  $secondary: #38656a,
  $surface: #d5e8ce,
  $background: #d5e8ce,
  $error: #ba1b1b
);

@use "./app";

html,
body {
  font-family: "Mochiy Pop One";
  background-color: theme.$surface;
  color: theme.$on-surface;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}
