@use "@angular/material" as mat;
@import "~@angular/material/theming";
@import "./scss_vars.scss";
@include mat.core();

$mdnj2b-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
      warn: mat.define-palette(mat.$red-palette),
    ),
  )
);

@include mat.all-component-themes($mdnj2b-theme);

// primary, accent, warn
$app-light-theme: mat-light-theme(
  mat-palette($mat-green, A700),
  mat-palette($mat-blue, 800),
  mat-palette($mat-red, 500)
);

// primary, accent, warn
$app-dark-theme: mat-dark-theme(
  mat-palette($mat-green, A200),
  mat-palette($mat-blue, A400),
  mat-palette($mat-red, A400)
);

.light-theme {
  @include angular-material-theme($app-light-theme);
  @include generate-theme-vars($app-light-theme);
}

.dark-theme {
  @include angular-material-theme($app-dark-theme);
  @include generate-theme-vars($app-dark-theme);
}
