// tool bar
.toolbar-spacer {
  flex: 1 1 auto;
}

.navbar {
  justify-content: space-between;
  padding: 10px;
}

mat-icon {
  vertical-align: middle;
}

.header-button {
  font-weight: 500;
}

.toggle {
  padding-left: 20px;
}
