<div class="mat-app-background" [ngClass]="isDarkMode ? 'dark-theme' : 'light-theme'" [style.height]="'100%'">
  <mat-toolbar class="navbar">

    <!-- for mobile -->
    <div fxHide.gt-xs="true">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/" class="header-button">
          <mat-icon>home</mat-icon>
          ホーム
        </button>
        <button mat-menu-item routerLink="/info" class="header-button">
          <mat-icon>info</mat-icon>
          情報
        </button>
        <button mat-menu-item color="primary" (click)="openSnackBar()" class="header-button">
          <mat-icon>launch</mat-icon>
          すなっくばー
        </button>
      </mat-menu>
    </div>

    <span [routerLink]="['/']" routerLinkActive="active">
      <mat-icon class="material-icons-outlined">emoji_emotions</mat-icon>
      mdnj2b
    </span>

    <!-- for desktop -->
    <span fxHide.lt-sm="true">
      <button mat-button routerLink="/" class="header-button">
        <mat-icon>home</mat-icon>
        ホーム
      </button>
      <button mat-button routerLink="/info" class="header-button">
        <mat-icon>info</mat-icon>
        情報
      </button>
    </span>

    <span class="toolbar-spacer"></span>
    <span fxHide.lt-sm="true">
      <button mat-raised-button color="primary" (click)="openSnackBar()" class="header-button">
        <mat-icon>launch</mat-icon>
        すなっくばー
      </button>
    </span>

    <div class="toggle">
      <mat-icon>brightness_5</mat-icon>
      <mat-slide-toggle [checked]="isDarkMode" (change)="toggledTheme()"></mat-slide-toggle>
      <mat-icon>brightness_2</mat-icon>
    </div>
  </mat-toolbar>


  <router-outlet>
  </router-outlet>
</div>
