// tool bar
.toolbar-spacer {
  flex: 1 1 auto;
}

.navbar {
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

mat-icon {
  vertical-align: text-bottom;
}

.header-button {
  font-weight: 500;
}

.toggle {
  padding-left: 20px;
}

.themeSelector {
  padding-left: 20px;
}

.themeSelector mat-icon {
  vertical-align: sub;
}
