@use "@angular/material" as mat;

.main {
  width: 100%;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.title {
  padding: 100px;
  margin: auto;
  margin-bottom: -60px;
  text-align: center;
  background-color: var(--primary-color);
}

.headline {
  font-size: 30px;
  padding-bottom: 30px;
  color: var(--background-color);
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.card {
  padding-bottom: 20px;
}

$itemColors: (
  item1: red,
  item2: blue,
  item3: green,
  item4: pink,
  item5: slategray,
);

@each $item, $color in $itemColors {
  .#{$item} {
    background: $color;
  }
}

.item {
  width: 80px;
  height: 80px;
}

.container {
  width: 300px;
  height: 300px;
  color: #fff;
  background: #eee;
}
