:root {
  --m3-back: #d5e8ce;

  --m3-primary: #006e17;
  --m3-on-primary: #ffffff;
  --m3-primary-container: #b7f2af;
  --m3-on-primary-container: #002203;
  --m3-secondary: #52634f;
  --m3-on-secondary: #ffffff;
  --m3-secondary-container: #d5e8ce;
  --m3-on-secondary-container: #101f0f;
  --m3-tertiary: #38656a;
  --m3-on-tertiary: #ffffff;
  --m3-tertiary-container: #bcebf0;
  --m3-on-tertiary-container: #001f23;
  --m3-error: #ba1b1b;
  --m3-on-error: #ffffff;
  --m3-error-container: #ffdad4;
  --m3-on-error-container: #410001;
  --m3-background: #fcfdf6;
  --m3-on-background: #1a1c19;
  --m3-surface: #fcfdf6;
  --m3-on-surface: #1a1c19;
  --m3-inverse-surface: #2f312d;
  --m3-inverse-on-surface: #f0f1eb;
  --m3-inverse-primary: #78dc77;
  --m3-surface-variant: #dee5d8;
  --m3-on-surface-variant: #424840;
  --m3-outline: #73796f;
  --m3-shadow: #000000;
}
