:root {
  --m3-back: #253423;

  --m3-primary: #78dc77;
  --m3-on-primary: #003907;
  --m3-primary-container: #00530f;
  --m3-on-primary-container: #b7f2af;
  --m3-secondary: #b9ccb3;
  --m3-on-secondary: #253423;
  --m3-secondary-container: #3b4b38;
  --m3-on-secondary-container: #d5e8ce;
  --m3-tertiary: #a1cfd5;
  --m3-on-tertiary: #00363b;
  --m3-tertiary-container: #1e4d52;
  --m3-on-tertiary-container: #bcebf0;
  --m3-error: #ffb4a9;
  --m3-on-error: #680003;
  --m3-error-container: #930006;
  --m3-on-error-container: #ffb4a9;
  --m3-background: #1a1c19;
  --m3-on-background: #e2e3dd;
  --m3-surface: #1a1c19;
  --m3-on-surface: #e2e3dd;
  --m3-inverse-surface: #e2e3dd;
  --m3-inverse-on-surface: #2f312d;
  --m3-inverse-primary: #006e17;
  --m3-surface-variant: #424840;
  --m3-on-surface-variant: #c2c8bd;
  --m3-outline: #8c9288;
  --m3-shadow: #000000;
}
